ProyectoB/n8n/workflows/chatbot-multiherramienta.json
{
  "name": "chatbot-IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -16,
        -16
      ],
      "id": "0cd61f4e-fc8f-48a0-af47-c64766fef0a6",
      "name": "Webhook",
      "webhookId": "d204f471-56da-46d0-89b2-7b7c61244b04"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "=Eres un clasificador de intenciones. Analiza el mensaje del usuario y devuelve ÚNICAMENTE un objeto JSON válido, sin texto adicional, sin explicaciones, sin bloques de código markdown.\n\nCATEGORÍAS DISPONIBLES (elige exactamente una):\n- \"clima\": preguntas sobre tiempo, temperatura, lluvia, pronóstico meteorológico\n- \"pais\": preguntas sobre países, capitales, moneda, población, idioma, bandera, datos de naciones. Ejemplo: \"dime algo sobre Japón\", \"cuál es la capital de Francia\"\n- \"wikipedia\": preguntas sobre historia, biografías, inventos, ciencia, personajes históricos, conceptos. Ejemplo: \"quién fue Einstein\", \"qué es la fotosíntesis\"\n- \"chiste\": solicitudes de humor, chistes, bromas\n- \"general\": cualquier mensaje que no encaje claramente en las anteriores\n\nREGLAS ESTRICTAS:\n1. Responde SOLO con JSON, nada más\n2. Si la intención ES \"clima\", incluye el campo \"ubicacion\" con la ciudad o país mencionado. Si no se menciona ubicación, usa \"ubicacion\": null\n3. Si la intención NO ES \"clima\", NO incluyas el campo \"ubicacion\"\n4. La intención debe ser siempre una de las 5 palabras exactas listadas\n5. Usa comillas dobles en el JSON, nunca simples\n6. No agregues campos extra\n\nEJEMPLOS:\nMensaje: \"¿Qué tiempo hace en Madrid?\"\n{\"intencion\":\"clima\",\"ubicacion\":\"Madrid\"}\n\nMensaje: \"Cuéntame un chiste\"\n{\"intencion\":\"chiste\"}\n\nMensaje: \"dime algo sobre Japón\"\nREGLA ESTRICTA: en ubicacion el nombre del pais en ingles\n{\"intencion\":\"pais\",\"ubicacion\":\"japan\"}\n\nMensaje: \"cuál es la capital de Francia\"\n{\"intencion\":\"pais\"}\n\nMensaje: \"¿Quién fue Einstein?\"\n{\"intencion\":\"wikipedia\"}\n\nMensaje: \"qué es la fotosíntesis\"\n{\"intencion\":\"wikipedia\"}\n\nMensaje: \"¿Va a llover mañana?\"\n{\"intencion\":\"clima\",\"ubicacion\":\"España\"}\n\ncualquier mensaje que no te cuadre con las opciones anteriores\nes de tipo general\n\n---\nMensaje a clasificar: {{ $json.body.mensaje }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        176,
        -16
      ],
      "id": "35bee0f6-1d50-4604-8297-9420245aea69",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.valor.intencion }}",
                    "rightValue": "chiste",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "93d301af-6a7b-4382-8d82-1297a7c29eff"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "c39540e8-39f9-4bae-8f1e-42d96393fee6",
                    "leftValue": "={{ $json.valor.intencion }}",
                    "rightValue": "clima",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01db4b60-9ad5-473b-856f-35301a123938",
                    "leftValue": "={{ $json.valor.intencion }}",
                    "rightValue": "pais",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5f0810c-6922-41a9-ab59-a2b65722ee15",
                    "leftValue": "={{ $json.valor.intencion }}",
                    "rightValue": "wikipedia",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7e3d7929-6c91-430a-9570-2ef52faa6fb1",
                    "leftValue": "={{ $json.valor.intencion }}",
                    "rightValue": "general",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        592,
        -64
      ],
      "id": "71f4ad55-5e59-45fb-b3d4-bf4f80288ceb",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "https://v2.jokeapi.dev/joke/Programming?lang=es",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        800,
        -336
      ],
      "id": "a54c6daa-c2fa-42a1-8088-7b5240a2acb6",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://nominatim.openstreetmap.org/search?q={{ $json.valor.ubicacion }}&format=json&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-chatbot"
            },
            {
              "name": "From",
              "value": "angelortegan8n@gmail.com"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        992,
        -176
      ],
      "id": "deb080a3-72cc-4b11-baa4-77afdfe9ba8e",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "=https://api.open-meteo.com/v1/forecast?latitude={{ $json.lat }}&longitude={{ $json.lon }}&current_weather=true",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -176
      ],
      "id": "6aa887fd-1263-4726-bab7-eb8075860171",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "=Convierte este JSON en un mensaje claro y natural para un usuario humano. Solo devuelve texto fácil de leer, sin código ni formato JSON.  \nIncluye:\n\n- Ciudad {{ $('HTTP Request2').item.json.name }}\n- Temperatura en °C\n- Velocidad del viento en km/h y dirección\n- Condición del tiempo según el weathercode (usa palabras como: despejado, parcialmente nublado, lluvia, etc.)\n- Hora local del reporte\n\nJSON: {{$json}}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1392,
        -176
      ],
      "id": "c27558bc-98bd-4ab3-acc6-a5a1f3c06eed",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1792,
        -176
      ],
      "id": "03e493cc-5279-42f9-9141-8bcd1cb593bc",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "=Eres un mensajero de chistes. Tu única tarea es repetir el chiste tal cual, sin modificarlo, sin explicarlo, sin comentarlo, sin añadir introducción ni conclusión.\n\nREGLAS ESTRICTAS:\n1. Copia el chiste exactamente como está, sin cambiar ni una palabra\n2. NO agregues frases como \"Aquí tienes el chiste\", \"Espero que te haga reír\", \"¡Ja ja!\" ni nada similar\n3. NO expliques por qué es gracioso\n4. NO traduzcas el chiste\n5. Solo devuelve el chiste, nada más\n\nChiste:\n{{ $json.joke ? $json.joke : $json.setup + \" ... \" + $json.delivery }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -336
      ],
      "id": "7251770c-5f82-486f-8b25-d862ea61022b",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        -336
      ],
      "id": "24da9174-777e-4ba8-b0ee-2a9f87109a8a",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.response;\nconst clean = raw.replace(/```json|```/g, \"\").trim();\nconst parsed = JSON.parse(clean);\n\nreturn [{\n  json: {\n    valor: {\n      intencion: parsed.intencion.toLowerCase(),\n      ubicacion: parsed.ubicacion || null\n    },\n    mensaje_original: $('Webhook').first().json.body.mensaje\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -16
      ],
      "id": "81b6ad91-3ae3-4c37-86cb-90b2984b8fec",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=https://restcountries.com/v3.1/name/{{ $json.valor.ubicacion }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        832,
        -16
      ],
      "id": "1316abb5-1269-41ee-8162-d3b17fe3c3cd",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "mistral"
            },
            {
              "name": "prompt",
              "value": "=Convierte este JSON en un mensaje natural y amigable sobre el país. Incluye: nombre oficial, capital, población, región, idiomas y moneda. Solo texto, sin JSON ni código.\nnDatos: {{ JSON.stringify($json) }}"
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1008,
        -16
      ],
      "id": "c523f2d9-026e-4dfb-8d45-c28b0a30e243",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        -16
      ],
      "id": "d59d28f1-66d5-4e8c-bbba-e2d5a1c825bc",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "const mensaje = $input.first().json.mensaje_original\n\n// Limpiar el mensaje para obtener el tema\nconst tema = mensaje\n  .replace(/qué es|quien fue|quién fue|cuéntame sobre|háblame de|información sobre|dime sobre|qué sabes de/gi, '')\n  .trim();\n\n// Capitalizar primera letra\nconst temaFinal = tema.charAt(0).toUpperCase() + tema.slice(1);\n\nreturn [{\n  json: {\n    mensaje_original: mensaje,\n    tema: temaFinal\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        144
      ],
      "id": "4cb3be9b-c5be-4156-94de-f21a71126bc0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "url": "=https://es.wikipedia.org/api/rest_v1/page/summary/{{ $json.tema }}",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\",\n  \"User-Agent\": \"n8n-chatbot/1.0 (angelortegan8n@gmail.com)\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1024,
        144
      ],
      "id": "98a1fa35-4eda-4240-9ccc-6e62b2785a85",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"prompt\": \"=Convierte este resumen de Wikipedia en un mensaje natural y amigable. Solo texto, sin JSON ni código, máximo 3 párrafos y Inprescindible en Español.\\n\\nDatos: {{ $json.extract}}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        144
      ],
      "id": "0a0621ad-6ae8-40de-9f52-6a55804122f0",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        144
      ],
      "id": "5a405c1b-a400-4668-9e77-3a7dd463fdfc",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendHeaders": true,
        "specifyHeaders": "json",
        "jsonHeaders": "{\n  \"Content-Type\": \"application/json\"\n}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"prompt\": \"=Eres un asistente conversacional amable y útil. Responde de forma natural, concisa y amigable. Máximo 3 oraciones. Responde en el mismo idioma del mensaje.\\n\\nMensaje: {{ $json.mensaje_original }}\",\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        848,
        320
      ],
      "id": "cb9a6293-ef76-4399-9eed-c01e913af315",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.response }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1360,
        320
      ],
      "id": "d6702dab-0b1a-40d2-b0f6-64be99f1f6dc",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 0,
            "mensaje_usuario": "={{ $('Webhook').item.json.body.mensaje }}",
            "intencion": "={{ $('Code in JavaScript').item.json.valor.intencion }}",
            "respuesta_bot": "={{ $json.response }}",
            "api_consultada": "=https://v2.jokeapi.dev/joke/Programming?lang=es"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mensaje_usuario",
              "displayName": "mensaje_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "api_consultada",
              "displayName": "api_consultada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        -336
      ],
      "id": "31f249ee-cf43-4453-ac2c-bfcbe9ccd01e",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "EJvNOIqVA474PacA",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mensaje_usuario": "={{ $('Webhook').item.json.body.mensaje }}",
            "intencion": "={{ $('Code in JavaScript').item.json.valor.intencion }}",
            "respuesta_bot": "={{ $json.response }}",
            "api_consultada": "=https://api.open-meteo.com/v1/forecast?latitude={{ $('HTTP Request2').item.json.lat }}&longitude={{ $('HTTP Request2').item.json.lon }}&current_weather=true"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_usuario",
              "displayName": "mensaje_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "api_consultada",
              "displayName": "api_consultada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1600,
        -176
      ],
      "id": "a391d788-6763-4daf-83ce-db6d0c36f0c3",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "EJvNOIqVA474PacA",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuesta_bot": "={{ $json.response }}",
            "mensaje_usuario": "={{ $('Webhook').item.json.body.mensaje }}",
            "intencion": "={{ $('Code in JavaScript').item.json.valor.intencion }}",
            "api_consultada": "=https://restcountries.com/v3.1/name/{{ $('Code in JavaScript').item.json.valor.ubicacion }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_usuario",
              "displayName": "mensaje_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "api_consultada",
              "displayName": "api_consultada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        -16
      ],
      "id": "f98bd591-eda5-47b9-901a-bbccb76bff5d",
      "name": "Insert rows in a table2",
      "credentials": {
        "postgres": {
          "id": "EJvNOIqVA474PacA",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuesta_bot": "={{ $json.response }}",
            "intencion": "={{ $('Code in JavaScript').item.json.valor.intencion }}",
            "mensaje_usuario": "={{ $('Webhook').item.json.body.mensaje }}",
            "api_consultada": "=https://es.wikipedia.org/api/rest_v1/page/summary/{{ $('Code in JavaScript1').item.json.tema }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_usuario",
              "displayName": "mensaje_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "api_consultada",
              "displayName": "api_consultada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1392,
        144
      ],
      "id": "81a21be9-3afe-4689-9118-802465a63116",
      "name": "Insert rows in a table3",
      "credentials": {
        "postgres": {
          "id": "EJvNOIqVA474PacA",
          "name": "Postgres account 3"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversaciones",
          "mode": "list",
          "cachedResultName": "conversaciones"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "respuesta_bot": "={{ $json.response }}",
            "mensaje_usuario": "={{ $('Webhook').item.json.body.mensaje }}",
            "intencion": "={{ $('Code in JavaScript').item.json.valor.intencion }}",
            "api_consultada": "http://ollama:11434/api/generate"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mensaje_usuario",
              "displayName": "mensaje_usuario",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "intencion",
              "displayName": "intencion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "api_consultada",
              "displayName": "api_consultada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "respuesta_bot",
              "displayName": "respuesta_bot",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1056,
        320
      ],
      "id": "f74ca74f-cbb7-4d03-be28-9bc39cb869ce",
      "name": "Insert rows in a table4",
      "credentials": {
        "postgres": {
          "id": "EJvNOIqVA474PacA",
          "name": "Postgres account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Insert rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Insert rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "Insert rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table2": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table3": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table4": {
      "main": [
        [
          {
            "node": "Respond to Webhook4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "803d7c45-b3fd-4087-b6f1-baca7d077c80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "001832281bbc7048579921a81aed63868b339b1002043df12e3dff8433bc4044"
  },
  "id": "T5uphZeqpQ2_3cJlbbSBF",
  "tags": []
}